@charset 'utf-8';

/* ë³„ë˜¥ë³„ */
@keyframes animate {
    0%
    {
        transform: rotate(315deg) translateX(0);
        opacity: 1;
    }
    70%
    {
        opacity: 1;
    }
    100%
    {
        transform: rotate(315deg) translateX(-1500px);
        opacity: 0;
    }
}
@keyframes rotate_image {
    100% {transform: rotate(360deg);}
}
.star {
    animation:  animate 2.6s linear infinite;
}

/* gnb ë²„íŠ¼ */
.gnb-open-btn img {
    animation: rotate_image 10s linear infinite;
}

/* ë°˜ì§ë°˜ì§ ë³„ */
@keyframes glitter {
    0% {
      -webkit-transform: scale(1);
      opacity: 1;
    }
    25% {
      -webkit-transform: scale(0.5);
      opacity: 0;
    }
    50% {
      -webkit-transform: scale(1);
      opacity: 1;
    }
    75% {
      -webkit-transform: scale(0.5);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 1;
    }
}
.twinkling-star {
    animation: glitter 2.6s linear infinite
}
