@charset 'utf-8';
@media screen and (max-width: 767px) {
    .m-sound-only {
        position: absolute;
        top: -9999em;
        left: -9999em;
    }
    #pf-gnb li a {
        font-size: 3.2rem;
    }
    #pf-gnb {
        background-size: 6rem;
    }
    .gnb-info {
        font-size: 1.3rem;
    }
    .main-contact {font-size: 0.9em;}
    #contactForm {max-width: 80rem;}
    #contactForm_term h3 { font-size: 1.6rem; border-bottom: 1px solid rgba(255,255,255,0.2); line-height: 2;}
    #contactForm_term h3 + div { margin: 1rem 0 2rem;}
    #contactForm .contactForm_agree2 {border: 0; font-size: 1.5rem; font-weight: 500; background-color: #f7d241; border-radius: 5px; padding: 0.8em ; margin: 1rem 0;}
    .tbl_frm01 label {display: block; float: left; width: 20%; font-weight: bold; line-height: 1.6em;}
    .tbl_frm01 ul input {border: 0; background-color: #fff; padding: 0.6em 0.3rem; width: 100%;}
    .tbl_frm01 textarea {border: 0; padding: 0.6em 0.3rem; width: 100%; margin-bottom: 0.5em; height: 15rem;} 
    #contactForm .agree_text {display:block; width:100%; line-height:1.6em}
    .copyright {
        bottom: 29rem;
    }
}

@media screen and (min-width: 768px) {
    /* ì¤„ë°”ê¿ˆ */
    span.block {
        display: block;
    }

    .gnb-open-btn {
        width: 25rem;
        height: 25rem;
    }
    .gnb-open-btn span {
        width: 8.8rem;
        height: 8.8rem;
    }
    #pf-gnb {
        background-size: 12.3rem;
    }
    #pf-gnb ol {
        margin-top: 24rem;
    }
    .gnb-close-btn {
        top: 3.6rem;
        right: 3rem;
    }
    .gnb-close-btn:before {
        top: 0.6rem;
    }
    .gnb-close-btn:after, .gnb-close-btn:before {
        width: 4rem;
        height: 0.6rem;
        border-radius: 0.3rem;
    }
    .main-contact button {
        margin-bottom: 3rem;
    }
    #contactForm {
        width: 80rem;
        background-image: url('../images/contact_browser_bg.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    #contactForm_term div { 
        width: 90%;
        margin: 1rem auto;
    }
    #contactForm_term {
        position: absolute;
        top: 18rem;
        left: 0;
        width: 100%;
        z-index: 20;
    }
    #contactForm_form {
        position: relative;
        top: 5.1rem;
    }
    #contactForm .contactForm_agree2 {
        width: 90%;
        border: 0; 
        font-size: 1.5rem; 
        background-color: #f4f4f4; 
        border-radius: 5px; 
        padding: 1rem 2rem ; 
        margin: 1rem auto;
    }
    .btn_confirm {
        bottom: 16rem;
    }
    .tbl_frm01 {
        position: relative;
    }
    .tbl_frm01 li {
        padding: 0.6rem 0;
    }
    .tbl_frm01 li:last-child {
        height: 50rem;
    }
    .tbl_frm01 li:after {
        content: '';
        display: block;
        clear: both;
    }
    .tbl_frm01 label {
        display: block; 
        float: left; 
        width: 15%;
        padding-left: 3rem; 
        line-height: 1.6em;
    }
    .tbl_frm01 ul input {
        float: left;
        width: 85%;
        border: 0; 
        background-color: #fff; 
        padding: 0.3em;
    }
    .tbl_frm01 textarea {
        position: relative;
        top: 10rem;
        display: block;
        height: 16.4rem;
        border: 0;
        width: 90%; 
        margin: 0 auto;
        border: 1px solid rgba(0,0,0,0.1);
    } 
    #contactForm .agree_text {display:block; width:100%; line-height:1.6em}
    .copyright {
        bottom: 34rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    #pf-gnb {
        width: 60%;
    }
    .main-contact {
        height: 140rem;
    }
    #contactForm {
        position: relative;
        width: 70rem;
        font-size: 0.85em;
    }
    .tbl_frm01 textarea {
        top: 10rem;
        height: 12rem;
    }
    .btn_confirm {
        bottom: 22rem;
    }
}

@media screen and (min-width: 1280px) {
    #pf-gnb {
        width: 40%;
    }
    .main-contact {
        height: 163.2rem;
        padding-top: 20rem;
    }
    .contact-right {
        float: left;
        width: 40%;
        padding-left: 8%;
        text-align: left;
    }
    .contact-right h2 {
        text-align: left;
    }
    #contactForm {
        position: relative;
        float: left;
        width: 80rem;
    }
    #contactForm_term {
        top: 20rem;
    }
    .tbl_frm01 li {
        padding: 1rem 0;
    }
    .btn_confirm {
        bottom: 17rem;
    }
    .contact-info {
        padding: 3rem 0;
    }
    .copyright {
        bottom: 40rem;
    }
}
@media screen and (min-width: 1700px) {
    #contactForm {
        width: 100rem;
    }
    #contactForm_term {
        top: 22rem;
    }
    .tbl_frm01 li {
        padding: 1rem 0;
    }
    .btn_confirm {
        bottom: 11rem;
    }
    .tbl_frm01 textarea {
        height: 26rem;
    }
    .tbl_frm01 textarea {
        top: 12rem;
    }
    .btn_confirm {
        bottom: 10rem;
    }
    #contactForm_form {
        top: 6.4rem;
    }
    .tbl_frm01 li:last-child {
        padding-bottom: 54rem
    }
}