@charset 'utf-8';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined'); 
* {margin: 0; padding: 0; box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}
html {font-size: 10px;}
body {width: 100%; overflow-x: hidden; line-height: 1.6; font-size: 1.6rem; font-family: "pretendard", "Malgun Gothic", sans-serif; color: #000; background-color: #fff }
body.hidden {overflow: hidden;}
h1, h2, h3, h4, h5, h6 {font-family: "pretendard", "Malgun Gothic", sans-serif;} 
input, select, textarea { font-family: "pretendard", "Malgun Gothic", sans-serif; font-size: 1.6rem; color: #000;}
button {border: 0; cursor: pointer; background-color: transparent;}
label {cursor: pointer;}
a {text-decoration: none; color: #000;}
ol, ul {list-style-type: none;}
img {border: 0; vertical-align: top;}
p {margin: 1em 0;}
table {width: 100%; margin: auto; border-collapse: collapse; border-top: 1px solid #ddd;}

/* ê³µìš© */
.wrap {width: 100%; max-width: 1440px; margin: auto }
.clearfix:after {content: ''; display: block; clear: both }
.sound-only {position: absolute;  top: -9999em; left: -9999em }
.max380 {width: 100%; max-width: 36rem }
.max480 {width: 100%; max-width: 48rem }
.max920 {width: 100%; max-width: 92rem }
.solid-btn {position: relative; display: inline-block; line-height: 4.6rem; font-weight: 500; color: #f7d241 ; padding: 0 6.4rem 0 3rem; border-radius: 2.3rem; border: 1px solid #f7d241;}
.table {display: table;}
.tc {display: table-cell; vertical-align: middle;}
.solid-btn span:before, .solid-btn span:after {
    position: absolute;
    right: 3rem;
    content: '';
    display: inline-block;
    border-color: #f7d241;
}
.solid-btn span:before {
    top: 2.2rem;
    width: 2.6rem;
    border: 1px solid #f7d241;
}
.solid-btn span:after {
    top: 1.9rem;
    width: 0.8rem;
    height: 0.8rem;
    border: 1px solid #f7d241;
    border-width: 0 2px 2px 0;
    transform: rotate(-45deg);
}
.solid-btn:hover {
    background-color: #f7d241;
    color: #fff;
}
.solid-btn:hover span:after, .solid-btn:hover span:before {
    border-color: #fff;
}
.color-btn {
    display: inline-block; 
    line-height: 4.6rem; 
    color: #000 ; 
    padding: 0 3rem; 
    border-radius: 2.3rem; 
    border-width: 0;
    background-color: #f7d241;
}
@media screen and (max-width: 767px) {
    .title86 {font-size: 3rem; font-weight: 700; line-height: 1.4;}
    .title72 {font-size: 2.4rem; font-weight: 700; line-height: 1.4;}
    .title72.kr {font-size: 2.2rem; font-weight: 700; line-height: 1.4;}
}
@media screen and (min-width: 768px) {
    .title86 {font-size: 6rem; font-weight: 700; line-height: 1.4;}
    .title72 {font-size: 5.8rem; font-weight: 700; line-height: 1.4;}
    .title72.kr {font-size: 5.6rem; font-weight: 700; line-height: 1.4;}
}
@media screen and (min-width: 1280px) {
    .title86 {font-size: 8.6rem; font-weight: 700; line-height: 1.4;}
    .title72 {font-size: 7.2rem; font-weight: 700; line-height: 1.4;}
    .title72.kr {font-size: 7rem; font-weight: 700; line-height: 1.4;}
}

/* 4. ìžì£¼ ì‚¬ìš©í•˜ëŠ” ê¸€ìžìƒ‰ê³¼ ë°°ê²½ */
.wh, .wh:hover, .wh a, .wh a:hover {
    color: #fff !important;
}
.bk, .bk:hover, .bk a, .bk a:hover {
    color: #000 !important;
}
.gr, .gr:hover, .gr a, .gr a:hover {
    color: #999 !important;
}
.ye, .ye:hover, .ye a, .ye a:hover {
    color: #f7d241 !important;
}
.bl, .bl:hover, .bl a, .bl a:hover {
    color: #444961 !important;
}
.navy, .navy:hover, .navy a, .navy a:hover {
    color: #141724 !important;
}

/* ìŠ¤í‚µì˜ì—­ */
#skip a {
    position: fixed;
    left: 0;
    top: -5rem;
    display: block;
    width: 100%;
    background-color: #f7d241;
    text-align: center;
    line-height: 4.8rem;
    color: #fff;
    z-index: 9999;
    transition: top 0.2s;
}
#skip a:focus {
    top: 0;
}

/* í—¤ë” */
#pf-hd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #cff;
}
.gnb-open-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 10rem;
    width: 10rem;
}
.gnb-open-btn img {
    width: 100%;
    max-width: 18.7rem;
}
.gnb-open-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4.6rem;
    height: 4.6rem;
    background-image: url('../images/gnb_btn_moon.png');
    background-position: center center;
    background-size: contain;
    transform: translate(-50%, -50%);
    text-indent: -9999em;
}

#pf-gnb {
    position: absolute;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100vh;
    background-color: #141724;
    background-image: url('../images/gnb_moon.png');
    background-repeat: no-repeat;
    background-position: center 6rem;
    transition: 0.8s;
}
#pf-gnb.open {
    right: 0;
}
#pf-gnb ol {
    margin-top: 16rem;
    text-align: center;
}
#pf-gnb li {
    line-height: 1.8;
}
#pf-gnb li a {
    display: block;
    font-size: 5.8rem;
    font-weight: 700;
    color: #141724;
    -webkit-text-stroke: 1px #fff;
    transition: 0.3s;
}
#pf-gnb li a:hover, #pf-gnb li a:active {
    color: #fff;
    -webkit-text-stroke: 0;
}
.gnb-info {
    padding: 2.2rem 0;
    text-align: center;
}
.gnb-info dl {
    display: inline-block;
    padding: 0 1rem;
}
.gnb-info dt {
    float: left;
}
.gnb-info dt:after {
    content: ':';
    display: inline-block;
}
.gnb-info dd {
    float: left;
}
.gnb-close-btn {
    position: absolute;
    top: 2.4rem;
    right: 2rem;
}
.gnb-close-btn:before {
    position: relative;
    top: 0.4rem;
    transform: rotate(-45deg);
}
.gnb-close-btn:after {
    transform: rotate(45deg);
}
.gnb-close-btn:after, .gnb-close-btn:before {
    content: '';
    display: block;
    width: 3rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    background-color: #fff;
}

/* footer  */
#pf-ft {
    position: relative;
}
.main-contact {
    height: 120rem;
    background-image: url('../images/contact_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.contact-right {
    text-align: center;
}
.main-contact h2 {
    text-align: center;
    padding: 3rem 0;
    text-shadow: 3px 3px 1px rgba(0,0,0,0.1);
}
.contact-info {
    padding: 2rem 0;
}
.resume-btn {
    background-color: #f7d241;
    padding: 1.2rem 1.8rem;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.1);
    border-radius: 2.5rem;
    color: #444961;
}
.btn_confirm {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#contactForm {
    margin: auto;
}
.tbl_frm01 li {
    border-bottom: 1px solid #eee;
}
.tbl_frm01 li:last-child {
    border-width: 0;
}
.project-info dt:after {
    content: ' : ';
}
.project-info dt, .project-info dd {
    display: inline-block;
}
.project-info {
    padding: 3rem 0;
}
/* alert Bootstrap */
.alert {
    display: none;
    position: fixed;
    left: calc(50% - 20rem);
    top: calc(50% - 3rem);
    width: 46rem;
    height: 6rem;
    line-height: 6rem;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    background-color: #f7d241;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.5);
    z-index: 100;
}
.fade {
    opacity: 0;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}
.close {
    position: absolute;
    right: 3.6rem;
    top: 50%;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    transform: translateY(-50%);
}
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .5;
}
button.close {
    -webkit-appearance: none;
    appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.copyright {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
